.component-store {
    width: 100%;

    .search {
        background-color: #fff;
        height: 26px;
        width: calc(100% - 32px);
        margin: 16px;
        border-radius: 2px;
        color: rgba(97, 97, 97, 0.5);
        cursor: pointer;
    }

    .staple,
    .all {
        .title {
            cursor: pointer;
            line-height: 22px;
            background-color: rgba(128, 128, 128, 0.2);
    
            .icon{
                width: 20px;
            }
    
            span {
                color: #616161;
                font-size: 11px;
            }
    }
    }

    .expansion{
        height: 50%;
    }
}