.component-activitybar {
    width: 48px;
    height: 100%;
    background-color: rgb(40, 44, 52);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-icon,
    .user {
        color: rgba(215, 218, 224, .4);
        cursor: pointer;

        &:hover {
            color: rgb(215, 218, 224);
        }
    }

    .composite-icon-click {
        color: rgb(215, 218, 224);
        border-left: 1px solid rgb(215, 218, 224);
    }

    .menu-icon {
        font-size: 24px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        width: 100%;
    }

    .appstore {
        transform: scale(-1);
    }

    .user {
        border: 2px solid;
        border-radius: 50%;
        font-size: 18px;
        line-height: 24px;
        padding: 1px;
        height: 24px;
        line-height: 24px;
        margin: 12px;
    }
}